@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Login Use Facebook Account</h1>
    <p><a href="https://www.facebook.com/dialog/oauth?client_id=619387381484849&scope=user_posts&redirect_uri=http://webapplication16742.azurewebsites.net/home/about" class="btn btn-primary btn-lg">Login</a></p>
</div>
