@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Login by facebook.</p>
    <p><a href="https://www.facebook.com/dialog/oauth?client_id=619387381484849&redirect_uri=http://webapplication16742.azurewebsites.net/home/about" class="btn btn-primary btn-lg">Login</a></p>
</div>
