@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Login Use Email Account (no password needed)</h2>
    <form action="/">
        <input type="email" name="user" style="width:300px" />
        <br />
        <input type="submit" value="Submit" class="btn btn-primary btn-lg">
    </form> 
</div>
